<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h1>PETCLINIC</h1>
    <h2>Bonjour Maxime comment va tu ?</h2>
    <h3>TEST TEST</h3>
    <h4>Tblah blah blah blah</h4>
    <h5>LLLLLLLLL</h5>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

  </body>

</html>
